<!DOCTYPE html>
<html>
<head>
<title>listeningroom.</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="skeleton.css">
<link rel="stylesheet" href="normalize.css">
</head>
<body>
	<header> <h1>listeningroom.</h1> </header>

	<div ng-app="myApp" ng-controller="appCtrl as ctrl">
		<main>
		<div class="musicplayer">

			<!--Take album art and turn it into a cd shape and when a song is playing, make it rotate like a record player-->
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" ng-class="{'playing' : ctrl.isPlaying}">
            	<defs>
                	<mask id="shape-mask">
                    	<circle id="outer" cx="50" cy="50" r="50" fill="#909090"/>
                    	<circle id="inner" cx="50" cy="50" r="10" fill="black"/>
                	</mask>
            	</defs>
            	<image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href={{ctrl.playlist[0].albumart}} mask="url(#shape-mask)"></image>
       		</svg>
			<p>

			<audio id="player" src={{ctrl.playlist[0].src}}></audio>
			<!--Progress bar-->
			<div id="bar" class="progress-bar" ng-class="{'so-far' : ctrl.isPlaying}"></div>
			<p>

			<!--Controls for the player-->
			<div>
				<button onclick="document.getElementById('player').play()" ng-click="ctrl.playAudio()">  ▶ </button>
				<button onclick="document.getElementById('player').pause()" ng-click="ctrl.pauseAudio()">  || </button>
				<button> ⯮ </button>
			</div>

			<p><p> Use the buttons above to start enjoying. <p>

		</div>
		<div class="playlist">
			Start adding some songs to create a playlist.
				<ul>
				<!--Add a new song from user input-->
				<form>
					<div>
						<input placeholder="Your song here..." ng-model="song">
						<span>
							<button type="submit"> add.</button>
						</span>
					</div>
				</form>
				<!--Repeat this for each song in the playlist-->
				<li ng-repeat="song in ctrl.playlist">
					{{song.artist}} - {{song.name}}
				</li>
			</ul>
		</div>
		</main>
		<footer>
			<h6> playing from local mp3 file for now ... </h6>
		</footer>
	</div>

	<script src="listeningroom.js"></script>

</body>
</html>